<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li *ngIf="this.userType == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li *ngIf="this.userType == 'Admin'" class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-account-network menu-icon"></i>
          <span class="menu-title">Developer</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="/admin/developer">Developer Details</a></li>
          </ul>
        </div>
      </li>
      <li *ngIf="this.userType == 'Admin'" class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="mdi mdi-city menu-icon"></i>
          <span class="menu-title">Customer</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/customer">Customer Details</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/company">Company Details</a></li>
          </ul>
        </div>
      </li>
      <li *ngIf="this.userType == 'Admin'" class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-project" aria-expanded="false" aria-controls="form-elements">
          <i class="mdi mdi-apps menu-icon"></i>
          <span class="menu-title">Project</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-project">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/project">Project Details</a></li>
          </ul>
        </div>
      </li>
      <li *ngIf="this.userType == 'Admin'" class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-issue" aria-expanded="false" aria-controls="form-elements">
          <i class="mdi mdi-alert-box menu-icon"></i>
          <span class="menu-title">Issue</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-issue">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/issue">Issue Details</a></li>
          </ul>
        </div>
      </li>
      <li *ngIf="this.userType == 'Customer'" class="nav-item">
        <a class="nav-link" routerLink="/customer/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li *ngIf="this.userType == 'Customer'" class="nav-item">
        <a class="nav-link" routerLink="/customer/addIssue">
          <i class="mdi mdi-alert-box menu-icon"></i>
          <span class="menu-title">Add Issue</span>
        </a>
      </li>
      <li *ngIf="this.userType == 'Customer'" class="nav-item">
        <a class="nav-link" routerLink="/customer/issueReport">
          <i class="mdi mdi-view-list menu-icon"></i>
          <span class="menu-title">Issue Progress</span>
        </a>
      </li>
      <li *ngIf="this.userType == 'Developer'" class="nav-item">
        <a class="nav-link" routerLink="/developer/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li *ngIf="this.userType == 'Developer'" class="nav-item">
        <a class="nav-link" routerLink="/developer/tasks">
          <i class="mdi mdi-view-list menu-icon"></i>
          <span class="menu-title">Tasks</span>
        </a>
      </li>
    </ul>
  </nav>
